<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
 <!-- <rewrite>
<rules>
<clear />
 

<rule name="Nodejs" stopProcessing="true">
<match url="(app/.|css/.|fonts/.|images/.|js/.|node_modules/.)" />
<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
<action type="None" />
</rule>
 

<rule name="Index Request" enabled="true" stopProcessing="true">
<match url="^$" />
<action type="Redirect" url="/home" logRewrittenUrl="true" />
</rule>
 

<rule name="AngularJS Wildcard" enabled="true">
<match url="(.*)" />
<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
<action type="Rewrite" url="index.html" />
</rule>
 
</rules>
</rewrite>-->
  <httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="*" />
     </customHeaders>
   </httpProtocol>
    <httpErrors>
      <remove statusCode="400" />
      <error statusCode="400" path="E:\Inetpub\vhosts\wbmt2017.com\error_docs\bad_request.html" />
      <remove statusCode="401" />
      <error statusCode="401" path="E:\Inetpub\vhosts\wbmt2017.com\error_docs\unauthorized.html" />
      <remove statusCode="403" />
      <error statusCode="403" path="E:\Inetpub\vhosts\wbmt2017.com\error_docs\forbidden.html" />
      <remove statusCode="404" />
      <error statusCode="404" path="E:\Inetpub\vhosts\wbmt2017.com\error_docs\not_found.html" />
      <remove statusCode="405" />
      <error statusCode="405" path="E:\Inetpub\vhosts\wbmt2017.com\error_docs\method_not_allowed.html" />
      <remove statusCode="406" />
      <error statusCode="406" path="E:\Inetpub\vhosts\wbmt2017.com\error_docs\not_acceptable.html" />
      <remove statusCode="407" />
      <error statusCode="407" path="E:\Inetpub\vhosts\wbmt2017.com\error_docs\proxy_authentication_required.html" />
      <remove statusCode="412" />
      <error statusCode="412" path="E:\Inetpub\vhosts\wbmt2017.com\error_docs\precondition_failed.html" />
      <remove statusCode="414" />
      <error statusCode="414" path="E:\Inetpub\vhosts\wbmt2017.com\error_docs\request-uri_too_long.html" />
      <remove statusCode="415" />
      <error statusCode="415" path="E:\Inetpub\vhosts\wbmt2017.com\error_docs\unsupported_media_type.html" />
      <remove statusCode="500" />
      <error statusCode="500" path="E:\Inetpub\vhosts\wbmt2017.com\error_docs\internal_server_error.html" />
      <remove statusCode="501" />
      <error statusCode="501" path="E:\Inetpub\vhosts\wbmt2017.com\error_docs\not_implemented.html" />
      <remove statusCode="502" />
      <error statusCode="502" path="E:\Inetpub\vhosts\wbmt2017.com\error_docs\bad_gateway.html" />
      <remove statusCode="503" />
      <error statusCode="503" path="E:\Inetpub\vhosts\wbmt2017.com\error_docs\maintenance.html" />
    </httpErrors>
    <tracing>
      <traceFailedRequests>
        <clear />
      </traceFailedRequests>
    </tracing>
	<rewrite>
    <rules>
                <clear />
                <rule name="Plesk. SSL redirect for #810" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" matchType="Pattern" pattern="OFF" ignoreCase="true" negate="false" />
                        <add input="{HTTP_IS_SITEPREVIEW}" matchType="Pattern" pattern="1" ignoreCase="true" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="http://127.0.0.1:7760/{R:1}" />
                </rule>
                <rule name="startup-file for site #3300">
                    <match url="^$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="api.js" />
                </rule>
                <rule name="NodeJS" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/api/(api)" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/help" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
      </rules>
    </rewrite>
	
	
  </system.webServer>
  <system.web>
    <compilation tempDirectory="E:\Inetpub\vhosts\wbmt2017.com\api.aaprobics.com\tmp" />
  </system.web>
</configuration>